@value noteBlack, noteGreen from '/src/common/colors.css';

.menu {
  width: 4vw;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: noteBlack;
}

.logo-box {
  color: white;
  text-align: center;
  cursor: pointer;
}

.logo {
  font-size: 2rem;
  transition: color ease-in 0.2s;
}

.logo-box:hover .logo {
  color: noteGreen;
}

.text {
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  position: relative;
  left: 100%;
  opacity: 0;
  margin: 0.1em;
}

.logo-box:hover .text {
  left: 0;
  opacity: 1;
}
