@value noteBlack, noteGreen from '/src/common/colors.css';

.aside {
  width: 75px;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: noteBlack;
}

.logo {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: color ease-in 0.2s;
}

.logo:hover {
  color: noteGreen;
}
