@value noteBlack, noteGreen from '/src/common/colors.css';

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.wrapper {
  position: fixed;
  right: 0;
  width: 30vw;
  height: 100vh;
  color: white;
  background-color: noteBlack;
  padding: 1em;
  z-index: 101;
}

.close {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  color: orangered;
}
