@value noteBlack, noteGreen from '/src/common/colors.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.5em 1em;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: noteBlack;
}

.title {
  text-transform: capitalize;
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.logo-box {
  color: white;
  text-align: center;
  cursor: pointer;
}

.logo {
  font-size: 2rem;
  transition: color ease-in 0.2s;
}

.logo-box:hover .logo {
  color: noteGreen;
}
