@value noteBlack, noteGrey from '/src/common/colors.css';

.section {
  margin: 1em;
}

.item {
  padding: 1em;
  background-color: white;
  border-radius: 10px;
}

.item:not(:last-child) {
  margin-bottom: 1em;
}
